<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teknofunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/892fd64f-ea19-4a00-a409-b08e5b943058/resourceGroups/KildeInfrastructureTekno/providers/Microsoft.Web/sites/TeknoFunction</ResourceId>
    <UserName>$TeknoFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://teknofunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>