<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vgfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c32df2a-a639-4457-89e6-a9817d6535c3/resourceGroups/KildeInfrastructureUS/providers/Microsoft.Web/sites/VGFunction</ResourceId>
    <UserName>$VGFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://vgfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>