<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dagbladetfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/681f6f7c-f6ee-4502-b6f5-30193cafd943/resourceGroups/KildeInfrastructureUs/providers/Microsoft.Web/sites/DagbladetFunction</ResourceId>
    <UserName>$DagbladetFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dagbladetfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>