<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kode24function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/813b6d06-2c43-43d7-8b35-f47c1d4c944b/resourceGroups/KildeInfrastructureKode24/providers/Microsoft.Web/sites/Kode24Function</ResourceId>
    <UserName>$Kode24Function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kode24function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>