<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://e24function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1c548dbc-2ffb-475c-81e3-c53b943dc862/resourceGroups/KildeInfrastructureUs/providers/Microsoft.Web/sites/E24Function</ResourceId>
    <UserName>$E24Function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://e24function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>